* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', monospace;
}
:root {
	--index: calc(1vh + 1vw);
	--transition: 1.25s cubic-bezier(.2, .5, 0, 1);
	--transition-cursor: 2s cubic-bezier(.05, .5, 0, 1);
	--gradient: radial-gradient(circle, rgb(197, 214, 210) 5%, rgb(255, 255, 246) 100%);
}

body {
	background: var(--gradient);
	color: #141414;
}

.container {
	padding: 0 calc(var(--index) * 6.75);
}

.header {
	text-align: center;
	padding-top: calc(var(--index) * 6.75);
	margin-bottom: calc(var(--index) * 8.75);
}

.header__title {
	text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.34);
	font-size: calc(var(--index) * 2);
	margin-bottom: calc(var(--index) * 2.25);;
}

.header__desc {
	font-size: calc(var(--index) * 1.15);
}

.menu-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px calc(var(--index) * -.5);
}

.nav-items {
  display: flex;
  justify-content: space-around;
  width: calc(var(--index) * 28);
}

.nav-item {
	text-decoration: none;
	color: black;
	padding-left: 20px;
	transition: color .3s linear;
	transition: scale .075s ease, font-weight .005s ease;
}
.nav-item:hover {
	cursor: pointer;
	scale: 1.09;
  font-weight: bold;
}

.about-museum {
	padding: 44px;
	background-color: #141414;
	color: whitesmoke;
}

.about__element {
	padding: calc(var(--index) * 1.25);
	font-size: calc(var(--index) * 1);
	counter-increment: cnter;
}
.about__element::before {
	content: '-';
	position: absolute;
	margin-left: calc(var(--index) * -1);
	font-size: calc(var(--index) * 0.95);
}

.magic-list {
	font-size: calc(var(--index) * 2.5);
	padding: calc(var(--index) * 2);
	margin-bottom: 100px;
}

.magic-list__item {
	cursor: none;
	border-bottom: 1px solid rgb(0 0 0 / .09);
	padding: calc(var(--index) * 3);
	counter-increment: magic-counter;
	display: block;
}

.magic-list__item::before {
	content: '(0' counter(magic-counter) ')';
	position: absolute;
	font-size: calc(var(--index) * .95);
	margin-left: calc(var(--index) * -2.5);
	margin-top: calc(var(--index) / 1.75);
	letter-spacing: .5px;
	transition: transform var(--transition);
	transition-delay: .025s;
	will-change: transform;
}

.magic-list__item:first-child {
	border-top: 1.5px solid rgb(0 0 0 / .09);
}

.magic-list__item__header {
	width: min-content;
	transition: transform var(--transition);
	will-change: transform;
}

.magic-list__item:hover .magic-list__item__header,
.magic-list__item:hover::before {
	transform: translate3d(calc(var(--index) * -5), 0, 0);
}

.magic-list__cursor {
	--width: calc(var(--index) * 	22);
	--height: calc(var(--index) * 14);
	position: fixed;
	width: var(--width);
	height: var(--height);
	top: calc(var(--height) * -0.5);
	left: calc(var(--width) * -0.5);
	overflow: hidden;
	transform: translate3d(var(--move-x), var(--move-y), 0);
	transition: transform var(--transition-cursor), height 1s ease;
	z-index: -1;
	will-change: transform;
	height: 0;	
}

.magic-list__item:hover .magic-list__cursor{
	height: var(--height);
}

.magic-list__cursor-image {
	--cursor-transform: translate3d(calc(var(--move-x) / -5), calc(var(--move-y) / -5), 0);
	position: relative;
	width: calc(var(--width) * 2);
	height: calc(var(--height) * 2);
	top: calc(var(--height) * -0.4);
	left: calc(var(--width) * -0.25);
	background-size: cover;
	background-position: center;
	transform: var(--cursor-transform) scale(1.5);
	transition: transform var(--transition);
}

.magic-list__item:hover .magic-list__cursor-image {
	transform: var(--cursor-transform) scale(1);
}

.artists {
	margin-top: calc(var(--index) * 10);
	margin-bottom: calc(var(--index) * 4);
}

.artists__holder {
	display: flex;
	justify-content: space-between;
}

.artists__info {
	display: block;
	font-size: calc(var(--index) * 1);
	padding-right: 30vw;
	min-width: 30vw;
	max-width: 50vw;
}

.artists__info__title {
	font-size: calc(var(--index) * 3);
	text-align: center;
	margin-bottom: 21px;
	min-width: 30vw;
	max-width: 50vw;
}

.artists__info__desc {
	text-align: center;
	min-width: 30vw;
	max-width: 50vw;
}
.artists__paintings {
	display: flex;
}

.painting-1 {
	box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.34);
	width: calc(var(--index) * 25.3125);
	height: calc(var(--index) * 16.875);
	position: relative;
	top: calc(var(--index) * -0.75);
	left: calc(var(--index) * -15.25);
}

.painting-2 {
	box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.34);
	width: calc(var(--index) * 20);
	height: calc(var(--index) *25);
	position: relative;
	z-index: -1;
	top: calc(var(--index) * -4);
	left: calc(var(--index) * -30.75);
}

.footer {
	background-color: black;
	padding: calc(var(--index) * 2);
	text-align: center;
	color: white;
	font-size: calc(var(--index) * 0.95);
}

.modal-overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #141414;
	opacity: 0%;
	z-index: -1;
	transition: opacity .3s ease;
}

.overlay-visible {
	z-index: 2;
	opacity: 70%;
}

.contacts-modal {
	opacity: 0;
	border-radius: 8px;
	position: fixed;
	width: 40vw;
	height: 50vh;
	left: 50%;
	top: 50%;
	z-index: 3;
	padding: calc(var(--index) * 1.25) 0;
	background-color: whitesmoke;
	transform: translate(-50%, -50%);
	transition: opacity .3s ease;
}

.visible {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 100%;
}

.modal-content {
	font-size: calc(var(--index) * 1.25);
	padding: 0 calc(var(--index) * 1.5);
}

.question-1 {
	padding-bottom: calc(var(--index) * 1.5);
}
.question-2 {
	padding-bottom: calc(var(--index) * 1.5);
	padding-top: calc(var(--index) * 1.5);
}

.modal-element {
	padding-bottom: calc(var(--index) * 0.5);
	font-size: calc(var(--index) * 1);
}

.modal-close {
	position: absolute;
	font-size: calc(var(--index) * 2);
	right: calc(var(--index) * 0.75);
	top: calc(var(--index) * 0.5);
	transform: rotate(135deg);
	user-select: none;
}